h1{
    font-size: 50px;
    color: aqua;
    text-decoration: overline blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 20px solid royalblue;
}
.blog {
    color: rgb(24, 192, 192);
    background-color: rgb(104, 16, 16);
    width: 500px;/*box width*/
    height: 500px;/*box height*/
    border:5px solid tomato;/*dot dashed*/
    border-radius: 10px;/*conner gol hoba */
    margin: 100px;/*sob dik take 10px(u,d,r,l)..margin top,right,left,down asa*/
    text-align: justify; /*justify;paragraph sob dik take soman korar jonno*/
    padding: 20px;/*4dik take vitora jaba*/
    box-shadow: 10px 10px 20px blue;/*x ,y axis..20px.....halka colour*/
}

.header{
    height: 500px;
    border: 200px;
    font-size: 50px;
    background-color: rgb(41, 123, 30);
    background-image: url("1st.jpg");
}